.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Fira Sans', sans-serif;
}

a {
    color: rgb(0, 162, 255);
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.header-link {
    display: flex;
    align-items: center;
}

.header-link .avatar {
    border-radius: 40px;
    margin-right: 20px;
}

.header-link a {
    display: block;
    color: inherit;
    text-transform: none;
    text-decoration: none;
}

.section-header {
  font-weight: 500;  
}

.header {
    font-weight: 400;
    margin: 2px 0;
    font-size: 20px;
}

.header-link a:hover {
    text-decoration: underline;
}

.sub-header {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    margin: 0;
    padding: 0;
}

.sub-header img {
    vertical-align: bottom;
    height: 14px;
    display: inline-block;
    padding: 3px;
    margin: 0;
}

.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    display: inline-block;
    margin-left: 5px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    display: inline-block;
    min-width: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    font-weight: 300;
}

.menu a:hover {
    background: #f5f5f5;
}

.card-wrapper {
    flex: 1 1 390px;
    width: 50%;
    margin: 1px;
    box-sizing: border-box;
    position: relative;
    padding: 30px 30px;
    background: #f7f7f7;
}

.card-wrapper:hover {
    background: #f0f0f0;
}


.card .name {
    font-weight: 500;
    margin: 0;
}

.card .description {
    color: #777
}

.card .button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
}

.card .button.github {
    background: #444;
    color: #eee;
    font-weight: bold;
}
.card .button.github:hover {
    
}

.card .button.articles {
    background: rgb(0, 119, 255);
    color: #eee;
    font-weight: bold;
}

.card .type {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.card .type.js {
    background: rgb(255, 238, 81);
}