<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kasper Moskwiak</title>
  <meta name="author" content="Kasper Moskwiak">
  <meta name="description" content="Developing software mostly in node.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NCL2FHL');</script>
  <!-- End Google Tag Manager -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,500&display=swap" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCL2FHL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div class="header-container">
        <div class="container menu-container">
            <div class="header-link" >
                <img class="avatar" src="https://avatars3.githubusercontent.com/u/5294519?s=80&v=4" width="80" height="80">
                <div>
                    <a href="/">
                        <h1 class="header">Kasper Moskwiak</h1>
                    </a>
                    <a title="GitHub/kmoskwiak" href="https://github.com/kmoskwiak">
                        <h2 class="sub-header"><img src="/assets/images/github.png" height="20px">kmoskwiak</h2>
                    </a>
                </div>
            </div>
            <div class="github-s-section">
                <a class="github-s-link" href="/"><span class="heart">♡</span> Sponsor with GitHub</a>
                <a class="link" href="/thanks">See all my sponsors</a>
            </div>
        </div>

        <div class="cards-container">
            <div>
                <h2 class="section-header">My last article</h2>
            </div>
            
            <a class="header-card" href="">
                <div class="thumb" >
                    <div 
                        style="background-image: url('https://miro.medium.com/max/2000/1*r-esubczgDBH_BDNzoU92Q.jpeg');"
                        class="thumb-16x9"></div>
                </div>
                <div class="details">
                    <h3 class="title">Async iterators in JS - database iteration in NodeJS</h3>
                    <div class="description">How to process entire database (MongoDB, Elasticsearch or PostgreSQL) using modern JavaScript tools. Should I use limit-offset, cursors or range query to get data from database? And why asynchronous iterators play well with database querying.</div>
                </div>
            </a>
        </div>
        
        <div class="cards-container">
            <div>
                <h2 class="section-header">Currently working on</h2>
            </div>
            
            <a class="header-card small" href="https://github.com/kmoskwiak/muchconf">
                <div class="thumb" >
                    <div 
                        style="background-image: url('https://barkpost-assets.s3.amazonaws.com/wp-content/uploads/2013/11/muchdoge-700x393.jpg');"
                        class="thumb-16x9"></div>
                </div>
                <div class="details">
                    <h3 class="title">muchconf</h3>
                    <div class="description">Wow! So much configuration, so many sources!</div>
                </div>
            </a>
        </div>
    </div>
    

  <div class="container">
      <h1 class="section-header">My projects</h1>
  </div>
  <div id="container" class="container">
    <% for(var i = 0; i < repos.length; i ++) { %>
        <div class="card card-wrapper">
                <% if(repos[i].language === 'JavaScript') { %>
                    <div class="type js">js</div>
                <% } %>
                <h2 class="name"><%- repos[i].name %></h2>
                <p class="description"><%- repos[i].description %></p>
                <div>
                    <a class="button github" title="<%- repos[i].name %>" href="<%- repos[i].html_url %>">GitHub</a>
                    <!-- <a class="button articles" href="/">Articles</a> -->
                </div>
        </div>
    <% } %>
  </div>

  <div class="container">
      <h1 class="section-header">Contact</h1>
  </div>
  <div class="container">
    <p>
      Find me on <a title="GitHub/kmoskwiak" href="https://github.com/kmoskwiak">GitHub</a> or <a title="Linkedin/kasper-moskwiak" href="https://www.linkedin.com/in/kasper-moskwiak/">Linkedin</a>.
    </p>
  </div>




</body>

</html>